U1_INTRODUCCION/XML/biblioteca.dtd

<!ELEMENT biblioteca (libro+) >
<!ELEMENT libro (titulo, autor?,genero,capitulos?) >
<!ELEMENT titulo (#PCDATA) >
<!ELEMENT GENERO (#PCDATA) >
<!ELEMENT autor (nombre,nacionalidad) >
<!ELEMENT nombre (#PCDATA) >
<!ELEMENT nacionalidad (#PCDATA) >
<!ELEMENT capitulos (capitulo+) >
<!ELEMENT titulo (#PCDATA) >