U1_INTRODUCCION/XML/tenis.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
 elementFormDefault ="qualified">
    <xs:element name="torneo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre">
                    <xs:element name="partido">
                    </xs:sequence>
                </xs:complexType>

            </xs:element>